{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--begin::Vendor Stylesheets(used for this page only)-->
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<!--end::Vendor Stylesheets-->
<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--end::Global Stylesheets Bundle-->


<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
  <!--begin::Toolbar-->
  <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
      <!--begin::Page title-->
      <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <!--begin::Title-->
        <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">Dashboard</h1>
        <!--end::Title-->
        <!--begin::Breadcrumb-->
        <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
          <!--begin::Item-->
          <li class="breadcrumb-item text-muted">
            <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
          </li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-400 w-5px h-2px"></span>
          </li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item text-muted">Controle de Gestão</li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-400 w-5px h-2px"></span>
          </li>
          <!--end::Item-->
          <!--begin::Item-->
          <li class="breadcrumb-item text-muted">Plano de Ação</li>
          <!--end::Item-->
          <!--begin::Ite
            m-->
          <li class="breadcrumb-item">
            <span class="bullet bg-gray-400 w-5px h-2px"></span>
          </li>
        </ul>
        <!--end::Breadcrumb-->
      </div>
      <!--end::Page title-->
    </div>
    <!--end::Toolbar container-->
  </div>
  <!--end::Toolbar-->
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::Contacts App- Add New Contact-->
      <div class="row g-7">
        <!--begin::Content-->
        <div class="col-xl-12">
          <!--begin::Contacts-->
          <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!--begin::Card header-->
            <div class="card-header pt-7" id="kt_chat_contacts_header">
              <!--begin::Card title-->
              <div class="card-title">
                <i class="ki-duotone ki-badge fs-1 me-2">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                  <span class="path5"></span>
                </i>
                <h2>Tipos de Incidente:</h2>
              </div>
              <!--end::Card title-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-5">
              <!--begin::Row-->
              <div class="row row-cols-1 row-cols-sm-2 rol-cols-md-1 row-cols-lg-2">
                {% for tipoIncid in tpIncidente %}
                <!--begin::Col-->
                <div class="col">
                  <!--begin::Input group-->
                  <div class="fv-row mb-7">
                    <div class="w-100">
                      <!--begin::Select2-->
                      <!--begin::Alert-->
                      <div class="alert alert-{{ tipoIncid.tp_cor }} d-flex align-items-center p-5">
                        <!--begin::Icon-->
                        <i class="ki-duotone ki-shield-tick fs-2hx text-success me-4"><span class="path1"></span><span
                            class="path2"></span></i>
                        <!--end::Icon-->

                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column">
                          <!--begin::Title-->
                          <h4 class="mb-1 text-dark">Tipo {{ tipoIncid.id }} - {{ tipoIncid.tp_Incidente }}</h4>
                          <!--end::Title-->
                        </div>
                        <!--end::Wrapper-->
                      </div>
                      <!--end::Alert-->
                      <!--end::Select2-->
                    </div>
                  </div>
                  <!--end::Input group-->
                </div>
                <!--end::Col-->
                {% endfor %}
              </div>
              <!--end::Row-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Contacts-->
        </div>
        <!--end::Content-->
      </div>
      <!--end::Contacts App- Add New Contact-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->

  <!-- Recent Sales -->
  <div class="col-12">
    <div class="card recent-sales overflow-auto">

      <div class="card-body">
        <h4 class="card-title">Planejamento<span>| 5W2H</span></h4>
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_sales_table">
          <thead>
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th>Nº</th>
              <th>Chamado</th>
              <th>Setor de ocorrência</th>
              <th>Solicitante</th>
              <th>Setor responsável</th>
              <th>Responsável</th>
              <th>Data de abertura</th>
              <th>Sla</th>
              <th>Tempo ocorrido</th>
              <th>Prioridade</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="fw-semibold text-gray-600">
            <tr>

              <td data-kt-ecommerce-order-filter="order_id">TESTE</td>
              
              <td title="TESTE">TESTE</td>

              <td>TESTE</td>

              <td>TESTE</td>

              <td>TESTE</td>

              <td>TESTE</td>
            
              <td data-order="TESTE1">TESTE</td>

              <td >TESTE</td>
              
              <td >TESTE</td>

              <td>TESTE</span></td>

              <td>TESTE</span></td>


            </tr>

          </tbody>
        </table>


      </div>

    </div>
  </div><!-- End Recent Sales -->

</div>
</div><!-- End Left side columns -->

</div>
</section>

</main><!-- End #main -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'js/custom/apps/ecommerce/sales/listing.js' %}"></script>
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
<script src="{% static 'js/filtro_tabela.js' %}"></script>

<script>
  // Inicializar a tabela com a classe 'datatable' e definir o número mínimo de 10 registros por página
  $(document).ready(function () {
    $('.datatable').DataTable({
      "paging": true,
      "lengthMenu": [10, 25, 50, 100],
      "language": {
        "lengthMenu": "Exibir _MENU_ registros por página",
        "zeroRecords": "Nenhum registro encontrado",
        "info": "Página _PAGE_ de _PAGES_",
        "infoEmpty": "Nenhum registro disponível",
        "infoFiltered": "(filtrado de _MAX_ registros no total)",
        "search": "Buscar:",
        "paginate": {
          "first": "Primeiro",
          "last": "Último",
          "next": "Próximo",
          "previous": "Anterior"
        }
      }
    });
  });
</script>



<!--end::Content wrapper-->

<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<!--end::Vendors Javascript-->
<!--begin::Custom Javascript(used for this page only)-->
<script src="{% static 'js/custom/apps/ecommerce/reports/views/views.js' %}"></script>
<script src="{% static 'js/widgets.bundle.js' %}"></script>
<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
<!--end::Custom Javascript-->
{% endblock %}