{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Notificar - Hospital Prontocardio (Segurança do Paciente)</title>
      <link href="{% static 'css/notificar.css' %}" rel="stylesheet">
      <title>Meus Cards</title>
  </head>

  <body>
      <div class="container">
          <div class="card-rectangular">
            <img src="{% static 'img/notificar_logo_novo.jpeg' %}" width="100%">
            
          </div>
      
          <div class="card-square">
            <h2>NOTIFIQUE E SALVE VIDAS</h2>
            <br>
            <p>Eventos adversos (EAs) são definidos como complicações indesejadas decorrentes do cuidado prestado aos pacientes, não atribuídas à evolução natural da doença de base.
              <br><br>
              Não conformidade são todas as quebras de processos organizacional.  
              <br><br>
              <strong> Você poderá notificar qualquer evento que você julgar necessário notificar.</strong>
              <br><br>
              <strong> Qualquer colaborador poderá notificar!</strong></p>
          </div>
      
          <a class="button" href="../notificar/formulario">Começar</a>
          <div class="copyright">&copy; Copyright <strong><span>Setor desenvolvimento TI Hospitalprontocardio</span></strong>. All Rights Reserved</div>
        </div>
  </body>

</html>