{% extends 'base.html' %}
{% block content %}   
<main id="main" class="main">

  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'telaIni' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cadastro' %}">Cadastro</a></li>
        <li class="breadcrumb-item active">Finalizado</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nota Realizada</h5>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <h4 class="alert-heading">Item adicionado com sucesso!</h4>
            </div>
            <div class="text-center">
              <a class="btn btn-primary" href="{% url 'cadastro' %}">Voltar</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>

</main><!-- End main -->
{% endblock %}