{% extends 'base.html' %}
{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cadastro Empresa Terceirizada</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">ProntoTicket</li>
                <li class="breadcrumb-item active">Cadastro</li>
                <li class="breadcrumb-item active">Empresa Terceirizada</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <div class="list-group">
                                </div>
                                <div class="table-responsive table-block overflow-auto">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h5 class="card-title mb-0">Empresas Terceirizadas</h5>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalAdicionarDimensao">Adicionar</button>
                                    </div>
                                    <div class="modal fade" id="modalAdicionarDimensao" tabindex="-1">
                                        <div class="modal-dialog">
                                            <form action="" method="POST" enctype="multipart/form-data" class="getForm" id="cadTecForm">
                                                {% csrf_token %}
                                                <input type="hidden" name="_method" value="D">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Adicionar Empresa</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <div class="col-12">
                                                            <label for="inputNanme4" class="form-label">Nome do Item</label>
                                                            <input type="hidden" name="idItem" value="{{item.id}}">
                                                            <input type="text" class="form-control" id="inputNanme4" name="nomeEmpresa">
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="reset" class="btn btn-secondary">Limpar</button>
                                                        <button type="submit" class="btn btn-primary disableOnSubmit">Salvar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <table class="table table-borderless datatable table-striped" id="minha-tabela">
                                        <!-- Cabeçalho da tabela -->
                                        <thead>
                                            <tr>
                                                <th scope="col">Ações</th>
                                                <th scope="col">Nome</th>
                                            </tr>
                                        </thead>
                                        <!-- Dados da tabela -->
                                        <tbody>
                                            {% for item in empresas %}
                                            <tr>
                                                <td>
                                                    <a href="#modal{{item.id}}" data-bs-toggle="modal"><i class="ri-file-edit-line fs-4 text-blue"></i></a>
                                                    <a href="#modalItemDelete{{item.id}}" data-bs-toggle="modal"><i class="ri-file-excel-line fs-4 text-danger"></i></a>
                                                </td>
                                                <td>{{item.nome}}</td>
                                            </tr>
                                            <div class="modal fade" id="modal{{item.id}}" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <form action="" method="POST" enctype="multipart/form-data" id="tecCadFormEdit"
                                                        class="getForm">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="_method" value="D_ALT">
                                                        <input type="hidden" name="id_Dim" value="{{item.id}}">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">{{item.nome}}</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-12">
                                                                    <label for="inputNanme4" class="form-label">Alterar Nome</label>
                                                                    <input type="hidden" name="idEmpresaEdit" value="{{item.id}}">
                                                                    <input type="text" class="form-control" id="inputNanme4" name="novoNomeEmpresa">

                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                                <button class="btn btn-primary disableOnSubmit" type="submit" >Salvar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="modalItemDelete{{item.id}}" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <form action="" method="POST" enctype="multipart/form-data" id="tecCadFormEdit"
                                                        class="getForm">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="_method" value="D_DEL">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">{{item.nome}}</h5>
                                                            </div>

                                                            <div class="modal-body">
                                                                <div class="col-12">
                                                                    <label for="inputNanme4" class="form-label">Deseja deletar a Empresa?</label>
                                                                    <input type="hidden" name="idEmpresaDelete" value="{{item.id}}">
                                                                </div>
                                                                <br>
                                                            </div>
                                                            
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                                <button class="btn btn-danger disableOnSubmit" type="submit" >Deletar</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Recent Sales -->
                </div>
            </div>
        </div>
        <div class="text-center">
            <br>
            <a class="btn btn-primary" href="{% url 'redireciona_cadtec' %}">Voltar</a>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}