{% extends 'base.html' %}
{% block content %}   
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Formulário</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'telaIni' %}">Home</a></li>
        <li class="breadcrumb-item">ProntoTicket</li>
        <li class="breadcrumb-item active">Pesquisar Chamado</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body text-center" style="display: block;">
            <h5 class="card-title">Chamado não encontrado</h5>

            <!-- General Form Elements -->
              <div class="col-md-6">
                <br>
              </div>
              <div class="text-center">
                <a  href="{% url 'pesquisar_chamado' %}" class="btn btn-primary">Voltar</a>
              </div>
            </form><!-- End Multi Columns Form -->
            <!-- End General Form Elements -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
{% endblock %}